.cart_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin: 5px 15px;
    font-size:x-large;
    font-family:cooper black;
    position: relative;
    bottom: 20px;
    right: 20px;
}
